<div class="navbar">
  <div class="navbar-inner">
	<a class="brand">Spacefreeze</a>
	<div class="nav pull-right">
		<a class="btn btn-primary"  id="log_in" role="button" >Log In</a>
		<a class="btn btn-success"  id="sign_up" role="button" >Sign Up</a>
		<a class="btn btn-warning"  id="list_my_space" role="button" >List My Space</a>			 					
	</div>
  </div>
</div>



<div class="row-fluid">
	<div class="span10 offset1">

		<div class="home_background_img" >	
		<div class="container-fluid"> 
			<h3> Find space in the Bay Area</h3>
			<h5> TO PARK YOUR CAR, BOAT, ATV AND BELONGINGS</h5>
			<input type="text" data-provide="typeahead" id="space_search" placeholder="What kind of space do you need?">					
			<span class="add-on"><input type="text" id="drop_off" placeholder="Drop off"> <i class="icon-calendar"></i></span>				
			<span class="add-on"><input type="text" id="pick_upp" placeholder="Pick up"> <i class="icon-calendar"></i></span>
			<a class="btn btn-info"  role="button" id='search_text'>Search<i class="icon-search"></i></a>
		</div>
		</div>				

		<table class="table"  align="center">
			<thead>
				<tr>
					<th>Space For Your Car</th>
					<th>Space For Your Toys</th>
					<th>Space For Your Things</th>	
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= image_tag("car.png") %></td>
					<td><%= image_tag("boat.png") %></td>
					<td><%= image_tag("moving.png") %></td>
				</tr>
			</tbody>
		</table>
		
		<footer class="footer">
			<table class="table table-footer"  align="center">
				<thead>
					<tr>
						<th>Spacefreeze</th>
						<th></th>
						<th></th>	
						<th><small>About Us</small></th>	
						<th><small>Settings</small></th>	
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= image_tag("fb.png") %></td>
						<td></td>
						<td></td>
						<td><small>Our Team</small></td>
						<td><small>Terms</small></td>
					</tr>
					<tr>
						<td><%= image_tag("twitter.png") %></td>
						<td> </td>
						<td> </td>
						<td>Our Story</td>
						<td>Privacy</td>
					</tr>
				</tbody>
			</table>	
		<p><small>C 2013 Spacefreeze Inc.</small></p>
		</footer>
	</div>
</div>

		