<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @search.user_id %>
</p>

<p>
  <b>Address:</b>
  <%= @search.address %>
</p>

<p>
  <b>Lat/Lng:</b>
  <%= @search.lat %> / <%= @search.lng %>
</p>

<p>
  <b>Begin:</b>
  <%= @search.begin %>
</p>

<p>
  <b>End:</b>
  <%= @search.end %>
</p>

<p>
  <b>Max distance:</b>
  <%= @search.max_distance %>
</p>

<p>
  <b>Max price:</b>
  <%= @search.max_price %>
</p>

<p>
  <b>Space type:</b>
  <%= @search.space_type %>
</p>

<p>
  <b>Charge:</b>
  <%= @search.charge %>
</p>

<h2>Results for your search</h2>

<% if @results.empty? %>

<p>No results for your search</p>

<% else %>

<table>
  <tr>
    <th>User</th>
    <th>Begin</th>
    <th>End</th>
    <th>Price</th>
    <th>Search</th>
    <th>Address</th>
    <th>Lat/Lng</th>
    <th>Space type</th>
    <th>Charge</th>
    <th>Picture</th>
  </tr>

<% @results.each do |space| %>
  <tr>
    <td><%= space.user_id %></td>
    <td><%= space.begin %></td>
    <td><%= space.end %></td>
    <td><%= space.price %></td>
    <td><%= space.search_id %></td>
    <td><%= space.address %></td>
    <td><%= space.lat %> / <%= space.lng %></td>
    <td><%= space.space_type %></td>
    <td><%= space.charge %></td>
    <td><%= space.picture %></td>
  </tr>
<% end %>

<% end %>

</table>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
