<div class="navbar">
  <div class="navbar-inner">
	<a class="brand">Spacefreeze</a>
	<div class="nav pull-right">
		<%= image_tag("esther.png", :id => "avatar") %>
		<b>Esther</b>
		<a class="btn btn-warning"  id="list_my_space" role="button" >List your space</a>			 					
	</div>
  </div>
</div>

<!-- <p id="notice"><%= notice %></p>
<p><%= @search.user_id %>, <%= @search.address %>, <%= @search.begin %>, <%= @search.end %></p>, <%= @search.max_distance %>, <%= @search.max_price %>, <%= link_to 'Edit', edit_search_path(@search) %> -->

<div class="row-fluid search_background">
	<div class="span7 offset1">
		<div class="search_header">
			<div class="type" style="background-color:#990099;">CAR</div><div class="type">TOY</div><div class="type">STUFF</div>
			<span class="input_field"><input id="search_address" name="search[address]" type="text" value="Where at?" />&nbsp;</span>
			<span class="input_field"><input id="search_begin" name="search[begin]" type="text" value="Drop off" />&nbsp;</span>
			<span class="input_field"><input id="search_end" name="search[end]" type="text" value="Pick up" />&nbsp;</span>
			<span class="input_field"><a href="#" id="search_commit" class="btn btn-primary" role="button">SEARCH <i class="icon-search icon-white"></i></a>&nbsp;</span>
		</div>
	</div>
</div>
<div class="row-fluid search_background">
	<div class="span3 offset1">
		<div class="map"><%= image_tag("map.jpg") %></div>
		<br />
		<div class="price_range">
			<span class="price_range_label">PRICE PER DAY</a><br /><br />
			<%= image_tag("price_range.jpg", :id => "slider") %>
		</div>
	</div>
	<div class="span4">

		<% # if @results.empty? %>
			<% if @search.id > 1 %>

				<div class="result">
					<div class="col2"><br /><span class="result_header">Unfortunately, there's no space available for your search. But we will send you a text message as soon as there's a space for you.</span><br /></div>
				</div>

			<% else %>
			<% @results.each_with_index do |r,i| %>

				<div class="result">
					<div class="col1"><div class="number"><%= i + 1 %></div></div>
					<div class="col2"><span class="result_header"><%= r.address %></span><br /><span class="result_subheader"><%= r.space_type %></span></div>
					<div class="col3"><span class="price"><%= number_to_currency(r.price) %></span><span="price_unit">&nbsp;</span><br /><script src="/assets/paypal-button.min.js?merchant=yypmath@gmail.com" data-button="buynow" data-name="spacefreeze"></script></div><br />
				</div>

			<% end %>
		<% end %>

	</div>
</div>
